@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body{
    font-family: Plus Jakarta Sans;
}
body.light-mode {
    background-color: white;
    color: black;
}

body.dark-mode {
    background-color: #1c1c1c;
    color: white;
}

.app-container {
    display: flex;
    height: 100vh;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}
